.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rebeccapurple;
    height: 60px;
}

.logo {
    width: 20px;
}

li {
    list-style-type: none;
    margin: 0 2vw;
    font-size: 3vh;
}

a {
    text-decoration: none;
    color: black;
    padding: 2vw;
    font-family: monospace;
}

a:hover{
    background-color: #C6E9FF;
}

ul {
    margin: 0;
    padding: 0;

    display: flex;
}
  
body {
    margin: 0;
}